button, input[type="button"] {
    box-shadow: 1px 2px var(--color-deepest);
    font-size: 16px;
    font-weight: 500;
}

.buttonPrimary {
    background-color: var(--color-light);
    color: var(--color-white);
    transition: 200ms ease-out;
}

.buttonPrimary:hover {
    background-color: var(--color-deeper);
    color: var(--color-white);
    transition: 200ms ease-in;
    cursor: pointer;
}

.buttonSecondary {
    background-color: var(--color-white);
    color: var(--color-deepest);
    transition: 200ms ease-out;
}

.buttonSecondary:hover {
    background-color: var(--color-deeper);
    color: var(--color-white);
    transition: 200ms ease-in;
    cursor: pointer;
}